<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Sobre el App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Desarrolladores</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Kenneth Rodríguez Carvajal
        Roberto Gonzalez
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="artist"placeholder="Ingrese su nombre" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Carrera</ion-label>
        <ion-input formControlName="song" placeholder="Ingrese su carrera" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cedula</ion-label>
        <ion-input formControlName="cedula" placeholder="Ingrese su cedula" type="text" required ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Año</ion-label>
        <ion-select formControlName="year" placeholder="Seleccione su año">
          <ion-select-option value="1">1 Año</ion-select-option>
          <ion-select-option value="2">2 Año</ion-select-option>
          <ion-select-option value="3">3 Año</ion-select-option>
          <ion-select-option value="4">4 Año</ion-select-option>
        </ion-select>
      </ion-item>      
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Guardar Estudiante
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-list>
      <ion-list-header>Estudiantes</ion-list-header>
      <ion-item lines="inset" *ngFor="let data of Data">
        <ion-label>
          <h5>{{ data.artist_name }}</h5>
          <p>{{ data.song_name }}</p>
          <p>{{ data.cedula }}</p>
          <p>{{ data.year }}</p>
        </ion-label>
        <div class="item-note" item-end>
          <ion-icon
            name="create"
            style="zoom: 2"
            [routerLink]="['/song/', data.id]"
          ></ion-icon>
          <ion-icon
            name="trash"
            style="zoom: 2"
            (click)="deleteSong(data.id)"
          ></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
